*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: azure;
}

body{
  width: 100%;
  height: 100vh;
}

.container{
  display:flex;
  flex-direction: row;
  height: 100vh;
}

#bg{
  width: 70%;
  height: 100vh;
  background-size: cover;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100vh;
}

a img{
  width: 30px;
  aspect-ratio: 1/1;
    margin-right:24px;
    margin-left: 10px;
}

#logo{
  width:10rem;
  aspect-ratio: 2/1;
}

#login{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 40%;
}

h1{
  margin-top: 20px;
  font-size: 2rem;
}
.login-methods {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

}

input{
  padding: 12px;
  font-size: 1rem;
  margin-left: 24px;
}

/* Custom Checkbox Styles */

